.venv
.coverage
.pytest_cache
htmlcov
__pycache__
coverage.txt

# AI エージェント作業用ディレクトリ
.work/

# python build artifact
*.egg-info

# Gradle
.gradle
build/

# Android
local.properties

# Python Tools
.ruff_cache/

# IDE / Editor
.vscode/
.idea/
*.iml

# OS
Thumbs.db
.DS_Store
